
@import '../../shared-styles/variables';

.searchInputContainer {
    width: 100%;
}

.instructions, .error, .success {
  background-color: #C2C597;
  font-size: 0.9em;
  padding: 15px;
  margin: 10px 0;
}

.success {
  background-color: #22C23B;
  color: white;
}

.error {
  background-color: #c23b22;
  color: white;
}

.errorMessage {
  font-weight: 700;
}

.errorItem {
  margin: 8px 5px;
}

.searchInput, .searchButton {
  padding: 12px;
  border: 0;
  outline: 0;
}

.searchInput {
    width: 97%;
    border-bottom: 2px solid #f0f0f0;
}

.searchButton {
  cursor: pointer;
  border: 0;
  color: white;
  background-color: #0031A8;
  transition: 0.3s;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 14px;
  margin-top: 5px;
  width: 200px;
}

.searchButton:hover {
  background-color: #002684;
}

.qrcode {
  width: 450px;
  height: 450px;
}

.meta {
  text-align: right;
  margin-bottom: 8px;
}
