
@import '../../shared-styles/variables';

.container {
}

.header {
    composes: row from '../../shared-styles/tables.scss';
    background: #CDCEA9;
}

.name, .qrcode, .shortUrl, .url, .delete, .stats {
    composes: column from '../../shared-styles/tables.scss';

    text-transform: uppercase;
    color: #585832;
    font-size: 12px;
}

.delete {
    text-align: center;
}

.meta {
  text-align: right;
  margin-bottom: 8px;
}
