
@import '../../shared-styles/variables';

.header {
  font-size: 2em;
  margin-bottom: 20px;
  background-color: #113991;
  color: white;
  padding: 5px;
}

.content {
  width: $content-width;
  margin: $padding auto;
}

.logo {
  background: url('../../images/logo.png');
  height: 80px;
  width: 433px;
  display: inline-block;
}
