@import '../../shared-styles/variables';

.meta {
  text-align: right;
  margin-bottom: 8px;
}

.searchInputContainer {
    width: 100%;
    display: flex;

}

.optionsInputContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
}

.searchInput, .searchButton {
  padding: 12px;
  border: 0;
  outline: 0;
}

.searchInput {
    width: 97%;
    border-bottom: 2px solid #f0f0f0;
}

.searchButton {
  cursor: pointer;
  border: 0;
  color: white;
  background-color: #0031A8;
  transition: 0.3s;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 14px;
  margin-left: 5px;
  width: 200px;
}

.deleteButton {
  cursor: pointer;
  border: 0;
  color: white;
  background-color: #FF0000;
  transition: 0.3s;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 14px;
  margin-top: 5px;
  margin-left: 5px;
  width: 200px;
}

.printButton {
  cursor: pointer;
  border: 0;
  color: #0031A8;
  background-color: white;
  transition: 0.3s;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 14px;
  margin-top: 5px;
  margin-left: 5px;
  width: 200px;
}

.searchButton:hover {
  background-color: #002684;
}
